.App {
  text-align: center;
  height: max-content;
  min-height: 100vh;
  background-color: #F6F8F9;
}

.body {
  padding-top: 50px
}

.heading-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 35px;
  color: #72ACFF;
  letter-spacing: 0;
  line-height: 48px;
  text-transform: capitalize;
  text-align: center;
}

/* DEFAULT FORM STYLING */

.form-container {
  background-color: transparent;
  text-align: center;
  margin: auto;
  border-radius: 6px;
  padding-top: 30px;
  padding-bottom: 30px
}

.input-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 0px 10px 10px 10px;
}

.form-label {
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #202124;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
}

.form-input {
  width: 360px;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #EBEDED;
  border-radius: 6px;
  opacity: 1;
  text-align: left;
  font-size: 13px;
  letter-spacing: 0px;
  color: #202124;
  opacity: 1;
  text-indent: 10px;
}

.form-input:focus {
  outline: none;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #72ACFF;
  border-radius: 6px;
  opacity: 1;
}

/* FORM INVALID */

.form-invalid {
  border: 2px solid #FF4D4D;
}

.form-invalid-label {
  color: #FF4D4D
}

.error-message {
  width: 360px;
  text-align: left;
  font: normal normal bold 13px/20px Helvetica;
  letter-spacing: 0px;
  color: #FF4D4D;
  opacity: 1;
  margin: auto;
}

/* BUTTONS */

.primary-button {
  height: 40px;
  width: 152px;
  background: #FA6980 0% 0% no-repeat padding-box;
  border-color: #FA6980;
  border-style: none;
  border-radius: 6px;
  opacity: 1;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.default-button {
  height: 40px;
  width: 152px;
  border: 2px solid #FA6980;
  border-style: 2px solid;
  border-radius: 6px;
  opacity: 1;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #FA6980;
  text-transform: uppercase;
}

/* BUTTON GROUP */

.button-group  {
  text-align: center;
}

.button-left {
  border-radius: 6px 0 0 6px ;
}

.button-right {
  border-radius: 0 6px 6px 0 ;
}
